In [3]:
# float() Syntax
#The syntax for float() is:

x = 10.10
print(x)
print(type(x))

10.1
<class 'float'>

In [4]:
# The float() method returns a floating point number from a number or a string.

int_number = 25

# convert int to float
float_number = float(int_number)
print(float_number)

25.0

# float working a python

In [5]:
# for integers
print(float(10))

10.0

In [6]:
# for floats
print(float(11.22))

11.22

In [14]:
# for string floats
print(float("-13.33"))
print(type(float("-13.33")))

-13.33
<class 'float'>

In [8]:
# for string floats with whitespaces
print(float("     -24.45\n"))

-24.45

In [11]:
# string float error

#print(float("abc"))
# could not convert string to float : "abc"

# float() for infinity and Nan(Not a number)?

In [15]:
# for NaN

print(float("nan"))
print(float("NaN"))
print(type(float("NaN")))

nan
nan
<class 'float'>

In [13]:
# for inf/infinity

print(float("inf"))
print(float("InF"))
print(float("InFiNiTy"))
print(float("infinity"))

inf
inf
inf
inf