In [ ]:
# string data type :

#Strings in python are surrounded by either single quotation marks, or double quotation marks.
# 'hello" is the same as "hello"
# anything in qoutation''becomes a string

a = "this girl name is krisha"
print(a)
print(type(a))

this girl name is krisha
<class 'str'>

In [ ]:
b = "DO YOU EAT ICE CREAM ?"
print(b)
print(type(b))

DO YOU EAT ICE CREAM ?
<class 'str'>

In [ ]:
c = '1,2,3,4,5,6'
print(c)
print(type(c))

1,2,3,4,5,6
<class 'str'>

In [ ]:
d = '12+2j'
print(d)
print(type(d))

12+2j
<class 'str'>